body, input, h1, form, div, h2, h3, p, small, btn, btn-default {
    font-family: 'Open Sans Condensed', sans-serif;
    background-color: transparent;
    margin: 0;
    padding: 0;
}

body{
    background-color: #f5f5f5;
}

.container{
    padding-left: 0;
    padding-right: 0;
}
/*Layout*/
.header{
    background-color: #b51942 !important;
    border-bottom: 3px solid #b51942;
    margin-bottom: 10px;
}

.header .billboard{
    color: #ffffff;
}
.footer{
    margin-top: 20px;
    padding-top:10px;
    background-color: dimgray;
    border-top: 3px solid #b51942;
    height: 50px;
}

.footer a{
    color: white;
}

.footer a:hover {
    text-decoration: underline;
}

.col-logo {
    text-align: center;
    padding-left: 0;
}

.col-logo a{
    color: white;

}
.col-header-right{
    padding-right: 0;
    margin-top: 4px;
    margin-bottom: 10px;
}

.input-search{
    margin-top: 4px;
    border-radius: 0;
}

.input-search input {
    border: none;
    border-radius: 0;
}

.input-search .btn{
    background-color: black;
    color: white !important;
    border-radius: 0;
}

.input-search .btn:hover{
    text-decoration: underline;
}
.btn-header-pornstars{
    background-color: black;
    color: white;
    border: none;
    border-radius: 0;
}
.btn-header-pornstars:hover{
    color: white;
    text-decoration: underline;
}

/****************************************************************************************** Categories*/
.category_outer {
    padding: 0;
    margin: 0;
}

.category_outer figure{
    margin: 4px;
}

.category_outer .link_image {
}

.category_outer .link_image img {
    width: 100%;
    height: 150px;
    border: solid 0px #b51942;
}

.category_outer .category_info{
    background-color: #b51942;
    text-align: center;
}

.category_outer .category_info .link_category {
    color: white;
    font-size:20px;
}
.category_outer .category_info .link_category:hover {
    text-decoration: underline;
}
.category_outer .category_info .link_nvideos {
    color: yellow;
}

.header_title_section{
    border-bottom: solid 2px #b51942;
    margin-bottom: 10px;
    font-size: 14px !important;
    color: dimgray;
}

/****************************************************************************************** Video*/
.video_outer{
    padding: 0;
    margin: 0;
}

.video_outer figure {
    margin: 4px;
}

.video_outer .link_image {
}

.video_outer .link_image img {
    width: 100%;
    height: 140px;
    border: solid 0px #b51942;
}

.video_outer .info_video{
    background-color: #b51942;
    padding: 5px;
}

.video_outer .info_video .title {
    color: black;
    font-size: 16px;
    line-height: 0px;
}
.video_outer .info_video .title:hover{
    text-decoration: underline;
}

.video_outer .info_video .extra_info{
    color: white;
    font-family: Tahoma, Verdana, Arial, Helvetica;
    font-size: 16px;
    font-weight: normal;
}

.video_outer .info_video .extra_info .channel_link {
    color: white;
    font-size: 12px;
    font-weight: normal;
    font-family: Tahoma, Verdana, Arial, Helvetica;
}

.video_outer .info_video .category_link {
    font-family: Tahoma, Verdana, Arial, Helvetica;
    background-color: black;
    color: white;
    padding: 0;
    margin: 0;
    font-size: 10px;
    font-weight: normal;
}


/****************************************************************************************** Pornstar*/
.pornstar_outer{
    padding: 0;
    margin: 0;
    min-height: 150px;
}

.pornstar_outer figure{
    margin: 4px;
}

.pornstar_outer .link_image{

}

.pornstar_outer .link_image img {
    width: 100%;
    height: 140px;
    border: solid 0px #b51942;
}

.pornstar_outer .pornstar_info {
    background-color: #b51942;
    text-align: center;
}

.pornstar_outer .pornstar_info .pornstar_link{
    color: white;
    font-size: 18px;
}

.pornstar_outer .pornstar_info .pornstar_link:hover{
    text-decoration: underline;
}

/****************************************************************************************** paginator */

.pagination {

}

.pagination li a{
    border: none;
    border-radius: 0;
    margin: 4px;
}

.pagination li a{
    background-color: #b51942;
    color: yellow;
    border: none;
}

.pagination li a:hover{
    background-color: #b51942;
    color: yellow;
    border: none;
    font-weight: bold;
}

.pagination .active > span {
    background-color: #b51942;
    color: yellow;
    border: none;
    margin: 4px;
    border-radius: 0;
}

.pagination > li:first-child > a, .pagination > li:first-child > span,
.pagination > li:last-child > a, .pagination > li:last-child > span {
    border-radius: 0 !important;
}

.pagination .disabled > span {
    background-color: #b51942;
    color: yellow;
    border: none;
    margin: 4px;
}

.pagination .active > span:hover{
    background-color: #b51942;
    color: yellow;
    border: none;
    font-weight: bold;
}

.pagination .disabled > span:hover{
    background-color: #b51942;
    color: yellow;
    border: none;
    font-weight: bold;
}


/**************************************************************************************************************** MOBILE */

@media only screen and (max-device-width: 480px) {
}