@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Barrio');

body, input, h1, form, div, h2, h3, p, small, btn, btn-default {
    font-family: "Roboto", "Trebuchet MS", Helvetica, sans-serif;
    background-color: transparent;
    margin: 0;
    padding: 0;
}

body{
    background-color: #f5f5f5;
}

.navbar-default{
    border: none;
}

.navbar-toggle{
    margin-top: 20px;
}

.container{
    padding-left: 0;
    padding-right: 0;
}

/*Layout*/
.header{
    background-color: #b51942 !important;
    margin-bottom: 10px;
    box-shadow: 0 0 600px rgba(0, 0, 0, 0.95);

}

.header .billboard{
    margin-top: 18px;
    color: #ffffff;
    font-size: 20px;
    font-family: "Barrio" !important;
}

.footer{
    margin-top: 20px;
    padding-top:10px;
    background-color: dimgray;
    border-top: 3px solid #b51942;
    min-height: 50px;
}

.footer a{
    color: white;
}

.footer a:hover {
    text-decoration: underline;
}

.col-logo {
    text-align: center;
    padding-left: 0;
}

.col-logo a{
    color: white;

}
.col-header-right{
    padding-right: 0;
    margin-top: 4px;
    margin-bottom: 10px;
}

.input-search{
    margin-top: 4px;
    border-radius: 0;
}

.input-search input {
    border: none;
    border-radius: 0;
    margin-top: 15px;
}

.input-search .btn{
    background-color: black;
    color: white !important;
    border-radius: 0;
    margin-top: 15px;
}

.input-search .btn:hover{
    text-decoration: underline;
}

.botonera{
    height: 30px;
}

.btn-header-pornstars{
    background-color: black;
    color: white;
    border: none;
    border-radius: 0;
}

.btn-header-pornstars:hover{
    color: white;
    text-decoration: underline;
}
.btn-custom-user{
    background-color: black;
    color: white;
    border: none;
    border-radius: 0;
}

.btn-custom-user:hover{
    color: white;
    text-decoration: underline;
}
/****************************************************************************************** Categories*/
.category_outer {
    margin: 0;
    padding: 0;
}

.category_outer figure{
    margin: 4px;
    border-bottom: 3px solid gray;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
}

.category_outer .link_image {
}

.category_outer .duration{
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 5px;
    margin-top: 5px;
    padding: 3px;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
}

.category_outer .link_image img {
    width: 100%;
    height: 135px;
    border: solid 0px #b51942;
}

.category_outer .category_info{
    background-color: #b51942;
    text-align: center;
}

.category_outer .category_info .link_category {
    color: white;
    font-size:16px;
}

.category_outer .category_info .link_category:hover {
    text-decoration: underline;
}
.category_outer .category_info .link_nvideos {
    color: yellow;
    font-size:10px;
}

.header_title_section{
    border-bottom: solid 2px #b51942;
    margin-bottom: 10px;
    font-size: 14px !important;
    color: dimgray;
}

.header_title_section h3{
    font-size:18px;
}

.header_title_section_mobile{
    margin-bottom: 10px;
    font-size: 14px !important;
    color: dimgray;
}

/****************************************************************************************** Video*/
.video_outer{
    padding: 0;
    margin: 0;
}

.video_outer figure {
    margin: 4px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);

}

.video_outer .link_image {
}

.video_outer .link_image img {
    width: 100%;
    height: 140px;
    border: solid 0px #b51942;
}

.video_outer .duration{
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 5px;
    margin-top: 5px;
    padding: 3px;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
}

.video_outer .diff_time{
    position: absolute;
    top: 113px;
    left: 0;
    float:right;
    margin-left: 5px;
    margin-top: 5px;
    padding: 3px;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
}

.video_outer .info_video{
    background-color: #b51942;
    padding: 5px;
    border-bottom: solid 3px red;
}

.video_outer .info_video .title {
    color: black;
    font-size: 14px;
    line-height: 0px;
}
.video_outer .info_video .title:hover{
    text-decoration: underline;
}

.video_outer .info_video .extra_info{
    color: white;
    font-size: 13px;
    font-weight: normal;
}

.video_outer .info_video .extra_info .channel_link {
    color: white;
    font-size: 12px;
    font-weight: normal;
}

.video_outer .info_video .category_link {
    background-color: black;
    color: white;
    padding: 0;
    margin: 0;
    font-size: 10px;
    font-weight: normal;
}

/****************************************************************************************** Pornstar*/
.pornstar_outer{
    padding: 0;
    margin: 0;
    min-height: 150px;
}

.pornstar_outer figure{
    margin: 4px;
}

.pornstar_outer .link_image{

}

.pornstar_outer .link_image img {
    width: 100%;
    height: 140px;
    border: solid 0px #b51942;
}

.pornstar_outer .pornstar_info {
    background-color: #b51942;
    text-align: center;
}

.pornstar_outer .pornstar_info .pornstar_link{
    color: white;
    font-size: 18px;
}

.pornstar_outer .pornstar_info .pornstar_link:hover{
    text-decoration: underline;
}

/****************************************************************************************** paginator */

.pagination {

}

.pagination li a{
    border: none;
    border-radius: 0;
    margin: 4px;
}

.pagination li a{
    background-color: #b51942;
    color: yellow;
    border: none;
}

.pagination li a:hover{
    background-color: #b51942;
    color: yellow;
    border: none;
    font-weight: bold;
}

.pagination .active > span {
    background-color: #b51942;
    color: yellow;
    border: none;
    margin: 4px;
    border-radius: 0;
}

.pagination > li:first-child > a, .pagination > li:first-child > span,
.pagination > li:last-child > a, .pagination > li:last-child > span {
    border-radius: 0 !important;
}

.pagination .disabled > span {
    background-color: #b51942;
    color: yellow;
    border: none;
    margin: 4px;
}

.pagination .active > span:hover{
    background-color: #b51942;
    color: yellow;
    border: none;
    font-weight: bold;
}

.pagination .disabled > span:hover{
    background-color: #b51942;
    color: yellow;
    border: none;
    font-weight: bold;
}


/**************************************************************************************************************** MOBILE */

.link_order_container {
    float: right;
    margin: 0;
    padding: 0;
}

.link_order {
    font-size: 12px;
    text-align: right;
    float: right;
    color: white;
    border: none;
    margin: 5px;
    padding:  0px 4px 0px 4px;
    margin-right: 0;
    margin-top: 0;
}
/****************************************************************************************** paginator */
.banner_footer{
}

.alphabetical_categories{
    border-bottom: solid 1px black;
    margin-bottom: 20px;
    margin-top: 20px;
}

.alphabetical_letter{
    height: 30px;
    padding-top: 4px;
}

.alphabetical_category_link{
    height: 40px;
    text-align: left;
}

.related_header{
    margin-bottom: 20px;
    border-bottom: solid 1px black;
    margin-top: 20px;
}
.video_header{
    border-bottom: solid 1px black;
    margin-bottom: 20px;
}
/****************************************************************************************** */

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
    .category_outer .link_image img {
        width: 100%;
        height: 15px !important;
    }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
/* Styles */
}
/**********
iPad 3
**********/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    .video_outer .link_image img {  height: 100px;  }
    .category_outer .link_image img {  height: 100px;  }
    .category_outer .category_info .link_category {  font-size: 14px;  }
    .header_title_section h{  border-bottom: none;  font-size: 15px;  border: none;  text-align: center;  }
    .link_order_container {  margin-top: 10px;  width: 100%;  }
    .link_order_container a{  font-size: 12px;  padding: 4px;  }
}

/* iPhone 6 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){

}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    .video_outer .link_image img {  height: 100px;  }
    .category_outer .link_image img {  height: 100px;  }
    .category_outer .category_info .link_category {  font-size: 14px;  }
    .header_title_section h3{  border-bottom: none;  font-size: 15px;  border: none;  text-align: center;  }
    .link_order_container {  margin-top: 10px;  width: 100%;  }
    .link_order_container a{  font-size: 12px;  padding: 4px;  }
}

/* iPhone 6+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){

}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
}

/* Samsung Galaxy S3 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* Samsung Galaxy S4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

/* Samsung Galaxy S5 ----------- */
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
    .video_outer .link_image img {  height: 100px;  }
    .category_outer .link_image img {  height: 100px;  }
    .category_outer .category_info .link_category {  font-size: 14px;  }
    .header_title_section h3{  border-bottom: none;  font-size: 15px;  border: none;  text-align: center;  }
    .link_order_container {  margin-top: 10px;  width: 100%;  }
    .link_order_container a{  font-size: 12px;  padding: 4px;  }
}
