.advertise_betweeen_uploads{
    text-align: center;
    color: #fff;
    .inner{
        border-radius: 3px;
        background: @baseColor;
        padding: 126px 0;
        border: none;
        h3{
            margin: 0;
            line-height: 32px;
            font-weight: bold;
        }
    }
}

.advertise_row{
    background: @baseColor;
    color: #fff;
    width: 760px;
    max-width: 100%;
    margin: 0 auto 60px;
    h3{
        margin: 0;
        line-height: 90px;
        font-weight: bold;
        text-align: center;
    }
}