<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    RewriteEngine On

    RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
    RewriteRule ^(.*)$ http://%1/$1 [R=301,L]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)/$ /$1 [L,R=301]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>

# Leverage Browser Caching
<IfModule mod_expires.c>
  ExpiresActive On
  ExpiresByType image/jpg "access 1 year"
  ExpiresByType image/jpeg "access 1 year"
  ExpiresByType image/gif "access 1 year"
  ExpiresByType image/png "access 1 year"
  ExpiresByType text/css "access 1 month"
  ExpiresByType text/html "access 1 month"
  ExpiresByType application/pdf "access 1 month"
  ExpiresByType text/x-javascript "access 1 month"
  ExpiresByType application/x-shockwave-flash "access 1 month"
  ExpiresByType image/x-icon "access 1 year"
  ExpiresDefault "access 1 month"
</IfModule>
<IfModule mod_headers.c>
  <filesmatch "\.(ico|flv|jpg|jpeg|png|gif|css|swf)$">
  Header set Cache-Control "max-age=2678400, public"
  </filesmatch>
  <filesmatch "\.(html|htm)$">
  Header set Cache-Control "max-age=7200, private, must-revalidate"
  </filesmatch>
  <filesmatch "\.(pdf)$">
  Header set Cache-Control "max-age=86400, public"
  </filesmatch>
  <filesmatch "\.(js)$">
  Header set Cache-Control "max-age=2678400, private"
  </filesmatch>
</IfModule>

<IfModule mod_rewrite.c>
    # assassinsporn.com: category -> video
    RewriteCond %{HTTP_HOST} ^(www\.)?assassinsporn\.com$
    RewriteRule ^category/(.*) /video/$1 [R=301,L]

    # pornoseo.com: category -> videos
    RewriteCond %{HTTP_HOST} ^(www\.)?pornoseo\.com$
    RewriteRule ^category/(.*) /videos/$1 [R=301,L]

    # supervrporn.com: category -> vr-porn
    RewriteCond %{HTTP_HOST} ^(www\.)?pornoseo\.com$
    RewriteRule ^category/(.*) /vr-porn/$1 [R=301,L]

    # kostenlosepornovideos.com: category -> filme
    RewriteCond %{HTTP_HOST} ^(www\.)?kostenlosepornovideos\.com$
    RewriteRule ^category/(.*) /filme/$1 [R=301,L]

    # latinasparadise.com: category -> xxx
    RewriteCond %{HTTP_HOST} ^(www\.)?latinasparadise\.com$
    RewriteRule ^category/(.*) /xxx/$1 [R=301,L]

    # mamasfollando.com: category -> video-porno
    RewriteCond %{HTTP_HOST} ^(www\.)?mamasfollando\.com$
    RewriteRule ^category/(.*) /video-porno/$1 [R=301,L]

    # pornopokemon.com: category -> videos
    RewriteCond %{HTTP_HOST} ^(www\.)?pornopokemon\.com$
    RewriteRule ^category/(.*) /videos/$1 [R=301,L]

    # pornochevere.com: category -> videos
    RewriteCond %{HTTP_HOST} ^(www\.)?pornochevere\.com$
    RewriteRule ^category/(.*) /videos/$1 [R=301,L]

    # pornokrachen.com: category -> porno-filme
    RewriteCond %{HTTP_HOST} ^(www\.)?pornochevere\.com$
    RewriteRule ^category/(.*) /porno-filme/$1 [R=301,L]

</IfModule>
