body{
    background-color: #f5f5f5;
}

.tag-editor {
    border: solid 1px darkgray;
    margin-bottom: 5px;
}

hr{
    padding:0;
    margin:5px;

}

.check_domain_ok {
    color: green;
}

.check_domain_ko {
    color: red;
}

.js_tags+.tag-editor { background: #fafafa; font-size: 12px; }
.js_tags+.tag-editor .tag-editor-spacer { width: 7px; }
.js_tags+.tag-editor .tag-editor-delete { display: none; }
.js_tags_tier1+.tag-editor .tag-editor-tag {
    color: #ffffff; background: limegreen;
    border-radius: 2px;
}
.js_tags_tier2+.tag-editor .tag-editor-tag {
    color: #ffffff; background: orange;
    border-radius: 2px;
}
.js_tags_tier3+.tag-editor .tag-editor-tag {
    color: #ffffff; background: deepskyblue;
    border-radius: 2px;
}

.sticker{
    background-color: blue;
    bottom: 0;
    top: 0;
    left: 0;
    height: 25px;
    position: absolute;
    width: 100%;
    display: none;
    z-index:1000;
    border-bottom: solid 1px gray;
}

.sticker p{
    color: white;
    padding-top: 2px;
}

.sticker_ok{
    background-color: #5cb85c !important;
}

.sticker_ko{
    background-color: #d9534f !important;
}

ul#sortable{
    list-style: none;
}

ul#sortable li{
    cursor: move;
    border-bottom: solid 1px gray;
}

.fileuploadf {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    -ms-filter: 'alpha(opacity=0)';
    font-size: 200px !important;
    direction: ltr;
    cursor: pointer;
}