/* 1 Color Body Bg */
body {
    background-color: #d2d2d2 !important;
}
.thumbnail {
    background-color: #d2d2d2 !important;
}

/* 2 Color Header Bg */
body > .navbar-default
{
    background-color: #d02121 !important;

    }

/* 3 Color Header Right Text */
.navbar h4
{
    color: #ffffff !important;
}

/* 4 Color Billboard bg */
/* 5 Color Text Billboard */
.billboard{
    background-color: #160ccb !important;
    color: #ffffff !important;
}

.billboard a{
    background-color: #160ccb !important;
    color: #ffffff !important;
}

/* 6 Color Section Text */
/* 7 Color Section Text Secondary */
.page-header h2{
    color: #004fff !important;
    font-size: 1.5em;
    color: #fff;
    padding: 0;
    margin: 0;
}

.page-header h3{
    color: #004fff !important;
    font-size: 1.5em;
    color: #fff;
    padding: 0;
    margin: 0;
}

.page-header .mdi{
    color: #004fff !important;
}

.page-header h2 small{
    color: #d02121 !important;
}

.scene-description{
    font-size: 18px;
    color: #000000 !important;
}

/* 8 Color Video Text */
.main .thumbnail a h5{
    color: #000000 !important;
}

/* 9 Color Tag */
.main .thumbnail .list-inline li .label {
    background-color: #ffffff !important;
    color: transparent;
}

/* 10 Buttons BG */
/* 11 Buttons text */
.main .pagination li a{
    background-color: #a80000 !important;
    color: #ffffff !important;
}

.navbar .btn-default{
    background-color: #a80000 !important;
    color: #ffffff !important;
}

.page-header .text-right .btn-secondary.active {
    background-color: #a80000 !important;
    border-color: #a80000 !important;
    color: #ffffff !important;
}

/* 12 On Video BG */
.main .thumbnail .thumb-image .floater-b-c,
.main .thumbnail .thumb-image .floater-b-l,
.main .thumbnail .thumb-image .floater-t-l {
    background-color: #000000 !important;
    opacity: 0.7;
}

/* Fixes */
.main .thumbnail .thumb-image img{
    height: auto !important;
}

