/*Layout*/
    body {
        background-color: #ffffff !important;
    }

    .header{
        background-color: #000000 !important;
        border-bottom: solid 3px #0000ff;
    }

    .navbar-default {
        background-color: #000000 !important;
    }

    .header .billboard{
        color: #ffffff !important;
    }

    .footer{
        background-color: #e7e7e7 !important;
    }

    .footer a{
        color: #ffffff;
    }

    .col-logo a{
        color: #ffffff;
    }

    .input-search .btn{
        background-color: #0000ff;
        color: #00ff30 !important;
    }

    .btn-header-pornstars{
        background-color: #0000ff;
        color: #00ff30;
    }

    .btn-header-pornstars:hover{
        color: #00ff30;
    }

    .btn-custom-user{
        background-color: #0000ff;
        color: #00ff30;
    }

    .btn-custom-user:hover{
        color: #00ff30;
    }

    /****************************************************************************************** Categories*/
    .category_outer figure {
        border-bottom: solid 3px #0000ff;
    }

    .category_outer .link_image img {
        border: solid 0px #000000;
    }

    .category_outer .category_info{
        background-color: #000000 !important;
    }

    .category_outer .category_info .link_category {
        color: #ffffff !important;
    }

    .category_outer .category_info .link_nvideos {
        color: #ffd200;
    }

    .header_title_section{
        border-bottom: solid 2px #ffa100 !important;
        color: #ffa100;
    }
    .header_title_section_mobile{
        color: #ffa100;
    }

    /****************************************************************************************** Video*/
    .video_outer .link_image img {
        border: solid 0px #000000;
    }

    .video_outer .info_video{
        background-color: #000000 !important;
        border-bottom: solid 3px #0000ff;
    }

    .video_outer .info_video .title {
        color: #ff2600;
    }

    .video_outer .info_video .extra_info{
        color: #ff0000 !important;
    }

    .video_outer .info_video .extra_info .channel_link {
        color: #ff0000 !important;
    }

    .video_outer .info_video .category_link {
        background-color: #0000ff;
        color: #00ff30;
    }

    /****************************************************************************************** Pornstar*/
    .pornstar_outer .link_image img {
        border: solid 0px #000000;
    }

    .pornstar_outer .pornstar_info {
        background-color: #000000 !important;
    }

    .pornstar_outer .pornstar_info .pornstar_link{
        color: #ffffff;
    }

    /****************************************************************************************** paginator */

    .pagination li a{
        background-color: #000000;
        color: #ffd200;
    }

    .pagination li a:hover{
        background-color: #000000;
        color: #ffd200;
    }

    .pagination .active > span {
        background-color: #000000;
        color: #ffd200;
    }

    .pagination .disabled > span {
        background-color: #000000;
        color: #ffd200;
    }

    .pagination .active > span:hover{
        background-color: #000000;
        color: #ffd200;
    }

    .pagination .disabled > span:hover{
        background-color: #000000;
        color: #ffd200;
    }

    .link_order{
        background-color: #0000ff !important;
        color: #00ff30 !important;
    }

    .alphabetical_categories{
        color: #ffa100;
        border-bottom: solid 1px #ffa100;;
    }

    .alphabetical_letter{
        background-color: #0000ff;
        color: #ffa100;
    }

    .alphabetical_category_link a{
        color: #ffa100;
    }

    .related_header{
        color: #ffa100;
        border-bottom: solid 1px #ffa100;;
    }

