/*Layout*/
    body {
        background-color:  !important;
    }

    .header{
        background-color:  !important;
    }

    .navbar-default {
        background-color:  !important;
    }

    .header .billboard{
        color:  !important;
    }

    .footer{
        background-color:  !important;
    }

    .footer a{
        color: ;
    }

    .col-logo a{
        color: ;
    }

    .input-search .btn{
        background-color: ;
        color:  !important;
    }

    .btn-header-pornstars{
        background-color: ;
        color: ;
    }

    .btn-header-pornstars:hover{
        color: ;
    }

    .btn-custom-user{
        background-color: ;
        color: ;
    }

    .btn-custom-user:hover{
        color: ;
    }

    /****************************************************************************************** Categories*/
    .category_outer .link_image img {
        border: solid 0px ;
    }

    .category_outer .category_info{
        background-color:  !important;
    }

    .category_outer .category_info .link_category {
        color:  !important;
    }

    .category_outer .category_info .link_nvideos {
        color: ;
    }

    .header_title_section{
        border-bottom: solid 2px  !important;
        color: ;
    }
    .header_title_section_mobile{
        color: ;
    }

    /****************************************************************************************** Video*/
    .video_outer .link_image img {
        border: solid 0px ;
    }

    .video_outer .info_video{
        background-color:  !important;
    }

    .video_outer .info_video .title {
        color: ;
    }

    .video_outer .info_video .extra_info{
        color:  !important;
    }

    .video_outer .info_video .extra_info .channel_link {
        color:  !important;
    }

    .video_outer .info_video .category_link {
        background-color: ;
        color: ;
    }

    /****************************************************************************************** Pornstar*/
    .pornstar_outer .link_image img {
        border: solid 0px ;
    }

    .pornstar_outer .pornstar_info {
        background-color:  !important;
    }

    .pornstar_outer .pornstar_info .pornstar_link{
        color: ;
    }

    /****************************************************************************************** paginator */

    .pagination li a{
        background-color: ;
        color: ;
    }

    .pagination li a:hover{
        background-color: ;
        color: ;
    }

    .pagination .active > span {
        background-color: ;
        color: ;
    }

    .pagination .disabled > span {
        background-color: ;
        color: ;
    }

    .pagination .active > span:hover{
        background-color: ;
        color: ;
    }

    .pagination .disabled > span:hover{
        background-color: ;
        color: ;
    }

    .link_order{
        background-color:  !important;
        color:  !important;
    }

